@import "tailwindcss";

@theme {
  --color-gray-1: #fefcfb;
  --color-gray-2: #faf9f7;
  --color-gray-3: #f2f0ed;
  --color-gray-4: #ece8e4;
  --color-gray-5: #e5e0dc;
  --color-gray-6: #ded8d2;
  --color-gray-7: #d3cdc7;
  --color-gray-8: #c0bab4;
  --color-gray-9: #918c86;
  --color-gray-10: #86817c;
  --color-gray-11: #67625d;
  --color-gray-12: #231f1b;

  --color-gray-a1: #c0400004;
  --color-gray-a2: #60400008;
  --color-gray-a3: #472b0012;
  --color-gray-a4: #4c26001b;
  --color-gray-a5: #421e0023;
  --color-gray-a6: #4422002d;
  --color-gray-a7: #371c0038;
  --color-gray-a8: #2915014b;
  --color-gray-a9: #180d0079;
  --color-gray-a10: #140a0083;
  --color-gray-a11: #100800a2;
  --color-gray-a12: #090500e4;

  --color-gray-contrast: #ffffff;
  --color-gray-surface: #ffffffcc;
  --color-gray-indicator: #918c86;
  --color-gray-track: #918c86;

  --custom-1: #fcfdff;
  --custom-2: #f7f8fd;
  --custom-3: #edf1ff;
  --custom-4: #e2e9fd;
  --custom-5: #d6def8;
  --custom-6: #c6d0f0;
  --custom-7: #b2bee5;
  --custom-8: #9aa5ce;
  --custom-9: #2b3147;
  --custom-10: #3d445b;
  --custom-11: #606b90;
  --custom-12: #31374e;

  --custom-a1: #0055ff03;
  --custom-a2: #0020c008;
  --custom-a3: #0039ff12;
  --custom-a4: #003eee1d;
  --custom-a5: #0032d429;
  --custom-a6: #002dbc39;
  --custom-a7: #0028a94d;
  --custom-a8: #001c8465;
  --custom-a9: #000722d4;
  --custom-a10: #000928c2;
  --custom-a11: #00124d9f;
  --custom-a12: #000824ce;

  --custom-contrast: #fff;
  --custom-surface: #f5f6fdcc;
  --custom-indicator: #2b3147;
  --custom-track: #2b3147;

  /* Theme colors */

  --color-bg: var(--color-gray-4);
  --color-bg-white: var(--color-gray-1);
  --color-fg: var(--color-gray-12);

  --color-accent-bg: var(--custom-12);
  --color-accent-fg: var(--custom-1);

  --font-cursive: "PlaywriteHU", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  --font-sans: "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  --font-condensed: "SofiaSansExtraCondensed", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

@font-face {
  font-family: "PlaywriteHU";
  font-style: normal; /* Or 'italic' if you have a separate italic variable font */
  font-display: swap; /* Crucial for performance */
  font-weight: 100 900; /* Range of weights supported by this font file */
  /* Add other axes ranges if applicable, e.g., font-stretch for width */
  /* font-stretch: 75% 125%; */
  src: url("/fonts/PlaywriteHU-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "SofiaSansExtraCondensed";
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url("/fonts/SofiaSansExtraCondensed-VariableFont_wght.ttf")
    format("truetype");
}

body {
  font-family: var(--font-sans);
  font-weight: 400;
  background-color: var(--color-bg);
  color: var(--color-fg);
}
